{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="uname">Username</label>
    <input name="uname" id="uname" required>
    <label for="pword">Password</label>
    <input type="password" name="pword" id="pword" required>
    <label for="tel">Two-Factor Authentication: </label>
    <input type="tel" name="2fa" class="form-control" id="2fa" placeholder="Tel. format: 01234567890 (10 digits)">
    <input type="submit" value="Log In">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  </form>

  <div id="result">{{result}}</div>
{% endblock %}